header {
  color: $azul_5;
  text-align: center;
  margin-top: 50px;
  h1 {
    font-family: 'Bree Serif';
    font-size: 42pt;
  }
  h2 {
    font-family: 'Roboto';
    font-size: 25pt;
    font-weight: 300;
  }
}
.logo-bogota {
  width: 280px;
}
.img-header {
  margin-top: 45px;
}
