$azul_1: #19ade4;
$azul_2: #cffaff;
$azul_3: #a1fbff;
$azul_4: #71e2df;
$azul_5: #04436c;

$verde_1: #9df4ab;
$verde_2: #67c674;
$verde_3: #42e26b;
$verde_4: #194419;

$rojo_1: #ffc5c5;
$rojo_1: #ff8585;
$rojo_1: #ff6666;
$rojo_1: #4c0a0a;
